footer.footer
  .footer__container
    .footer-group1
      h2.footer-group1__logo DREAMSHARE
    .footer-group2
      h2.footer-group2__title Company
      ul.footer-group2__menu
        li.footer-group2__menu-list About
        li.footer-group2__menu-list Contact
        li.footer-group2__menu-list Press
        li.footer-group2__menu-list Blog
        li.footer-group2__menu-list Terms and Privacy
        li.footer-group2__menu-list Help
    .footer-group3
      h2.footer-group2__title Partners
    .footer-group4
      h2.footer-group4__title DESIGNED BY
      picture.footer-group4__icon
        img(src='images/areto.png', alt='Areto')
